.container{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.img_background{
    display:block;
    margin-left:auto;
    margin-right: auto;
    position: absolute;
    background: url("https://media.tenor.com/bUOrNPAXcMEAAAAd/the-office-michael-scott.gif");
    width: 100%;
    height: 100%;
    padding:100%px;
    border-radius: 10px;
    
}