<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <mat-tab-group> 
                    <mat-tab label="Home" routerLink="/"></mat-tab>
                    <mat-tab label="Random Quotes" routerLink="/random-quotes"></mat-tab>
                    <mat-tab label="Episode Info" routerLink="/episode-info"></mat-tab>
                </mat-tab-group>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
