/* You can add global styles to this file, and also import other style files */


html, body {
        height: viewport-length; 
        width: viewport-width;
        margin: auto;
        display: inline-block;
        vertical-align: text-top;
        background-color: #dfe9e2;
        position: static;
        border: 10px solid black;
        align-items: normal;
        font-family: Roboto, "Helvetica Neue", sans-serif;
}